.form-error,
.form-text-helper {
  display: block;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  transform: translateX(1.7rem);
}

.form-error {
  color: var(--clr-error);
}

.form-text-helper {
  color: var(--clr-grey);
}
